Backend/n8n-eventbus/workflows/MCP Input Handler - FindYourWork (1).json
{
  "name": "MCP Input Handler - FindYourWork",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-input",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6cbccb5f-cd60-4ab0-995a-1afe54c22b19",
      "name": "MCP Input Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -448,
        -240
      ],
      "webhookId": "44ec6a38-2122-449d-9cd2-4b51954682bb"
    },
    {
      "parameters": {
        "functionCode": "// Extraer contenido y adjuntos del mensaje\nconst item = $input.first().json;\n\nlet content = item.data.message || '';\nlet attachments = item.data.attachments || [];\nlet sender = item.data.sender_id;\nlet channel = item.channel;\nlet metadata = item.data.metadata || {};\n\n// Preparar prompt para AI Orchestrator\nlet prompt = content;\n\n// Si hay adjuntos, añadir contexto\nif (attachments.length > 0) {\n  prompt += `\\n\\n[Adjuntos: ${attachments.map(a => a.type).join(', ')}]`;\n}\n\nreturn [\n  {\n    json: {\n      channel: channel,\n      sender_id: sender,\n      original_message: content,\n      prompt: prompt,\n      attachments: attachments,\n      metadata: metadata,\n      context: {\n        username: metadata.username,\n        language: metadata.language_code || 'es'\n      }\n    }\n  }\n];"
      },
      "id": "9d60cf5f-e96f-4d6a-ad2b-6f7dfd8bdbf4",
      "name": "Extract Content & Attachments",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -48,
        -240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_ORCHESTRATOR_URL }}/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.prompt }}\",\n  \"session_id\": \"{{ $json.channel }}_{{ $json.sender_id }}\",\n  \"context\": {{ JSON.stringify($json.context) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d610afbc-6ca4-420b-bd74-53fd66fab5a0",
      "name": "Send to AI Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        160,
        -240
      ]
    },
    {
      "parameters": {
        "functionCode": "// Normalizar respuesta del Orchestrator y adjuntar metadata original\nconst orches = $input.first().json || {};\nconst prev = $node[\"Extract Content & Attachments\"] ? $node[\"Extract Content & Attachments\"].json : {};\nlet tool = null;\nif (orches.tool) tool = orches.tool;\nelse if (orches.data && orches.data.tool) tool = orches.data.tool;\nelse if (orches.response && orches.response.tool) tool = orches.response.tool;\nelse if (orches.output && orches.output.tool) tool = orches.output.tool;\nelse tool = orches.tool || null;\n\nreturn [{\n  json: {\n    tool: tool,\n    orchestrator: orches,\n    channel: prev.channel,\n    sender_id: prev.sender_id,\n    metadata: prev.metadata || {}\n  }\n}];"
      },
      "id": "c9f2a2d1-3f7e-4f2b-9a7a-2a7e6b8d1c3f",
      "name": "Build Notification Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        360,
        -120
      ]
    },
    {
      "parameters": {
        "functionCode": "// Preparar respuesta para el canal correspondiente\nconst input = $input.first().json;\nconst prevItem = $('Extract Content & Attachments').first().json;\n\nlet response = input.response || input.answer || input.message || 'Lo siento, no pude procesar tu mensaje.';\n\nreturn [\n  {\n    json: {\n      channel: prevItem.channel,\n      sender_id: prevItem.sender_id,\n      response: response,\n      original_message: prevItem.original_message,\n      metadata: prevItem.metadata\n    }\n  }\n];"
      },
      "id": "d84d1074-5734-4ff2-ba40-25e75c0ee567",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        352,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "telegram"
            }
          ]
        }
      },
      "id": "b58ec24c-5057-4e18-b5c5-bfa058306dbf",
      "name": "Route to Telegram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        -336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.channel }}",
              "value2": "email"
            }
          ]
        }
      },
      "id": "bd41bc3c-ae23-4311-9f46-c9c622a1177e",
      "name": "Route to Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        -192
      ]
    },
    {
      "parameters": {
        "chatId": "=1520059965",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5d7f3d46-745c-41b0-9f1a-13a0287c333e",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        768,
        -400
      ],
      "webhookId": "e524cd13-3d21-4967-86e7-3b7a7f4e2376",
      "credentials": {
        "telegramApi": {
          "id": "N2YxtrEZPStcKE06",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM_ADDRESS }}",
        "toEmail": "={{ $json.sender_id }}",
        "subject": "Re: Tu consulta en FindYourWork",
        "text": "={{ $json.response }}",
        "options": {}
      },
      "id": "a0353baa-9a69-4602-b215-89633f4fdc1b",
      "name": "Send Email Response",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        768,
        -208
      ],
      "webhookId": "2d057d0b-3334-4722-9432-e4542be04ee4",
      "credentials": {
        "smtp": {
          "id": "llhj5Cg90P0azzQ4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tool && $json.tool.status }}",
              "value2": "success"
            }
          ]
        }
      },
      "id": "8a4d5b6c-1e2f-4b3a-9c0d-5f6a7b8c9d0e",
      "name": "Tool executed & success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        -120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ ($json.metadata && $json.metadata.telegram_chat_id) ? $json.metadata.telegram_chat_id : $json.sender_id }}",
        "text": "={{ \"✅ La tool \" + (($json.tool && $json.tool.name) ? $json.tool.name : 'tool') + \" se ejecutó correctamente para \" + (($json.metadata && $json.metadata.username) ? $json.metadata.username : $json.sender_id) + \". Resultado: \" + (($json.tool && $json.tool.output && $json.tool.output.summary) ? $json.tool.output.summary : JSON.stringify($json.tool && $json.tool.output || {}).slice(0,200)) }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "7e5d4c3b-2a1f-4e6d-8b9c-0a1b2c3d4e5f",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        780,
        -96
      ],
      "credentials": {
        "telegramApi": {
          "id": "N2YxtrEZPStcKE06",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.EMAIL_FROM_ADDRESS }}",
        "toEmail": "={{ ($json.metadata && $json.metadata.email) ? $json.metadata.email : $json.sender_id }}",
        "subject": "={{ \"Tool \" + (($json.tool && $json.tool.name) ? $json.tool.name : 'tool') + \" ejecutada\" }}",
        "text": "={{ \"La tool \" + (($json.tool && $json.tool.name) ? $json.tool.name : 'tool') + \" se ejecutó correctamente. Resultado:\\n\" + (($json.tool && $json.tool.output) ? JSON.stringify($json.tool.output, null, 2) : 'Sin detalle') }}",
        "options": {}
      },
      "id": "6d5c4b3a-1f2e-4d6c-8b9a-0c1d2e3f4a5b",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        780,
        -16
      ],
      "credentials": {
        "smtp": {
          "id": "llhj5Cg90P0azzQ4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"processed\",\n  \"channel\": \"{{ $json.channel }}\",\n  \"response_sent\": true\n}",
        "options": {}
      },
      "id": "02fae9ee-bd2c-4c60-b093-cb670fb2fc2d",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        -240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "MCP Input Webhook": {
      "main": [
        [
          {
            "node": "Extract Content & Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content & Attachments": {
      "main": [
        [
          {
            "node": "Send to AI Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AI Orchestrator": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Notification Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Payload": {
      "main": [
        [
          {
            "node": "Tool executed & success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Route to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route to Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route to Email": {
      "main": [
        [
          {
            "node": "Send Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool executed & success?": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Telegram Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "15994048-2488-430e-8c4c-04e587a97b1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91168cb9dab1d51aa40e4d988b6b4d0badbd085170a6bd921943881fa5250071"
  },
  "id": "cenILmhYbdlCVRtO",
  "tags": [
    {
      "updatedAt": "2026-01-02T05:11:50.839Z",
      "createdAt": "2026-01-02T05:11:50.839Z",
      "id": "Gz1BHxgHAOWPj4i2",
      "name": "pilar4"
    },
    {
      "updatedAt": "2026-01-02T05:13:27.656Z",
      "createdAt": "2026-01-02T05:13:27.656Z",
      "id": "NJuMCJ9F6s5QHqzG",
      "name": "ai"
    },
    {
      "updatedAt": "2026-01-02T05:13:27.698Z",
      "createdAt": "2026-01-02T05:13:27.698Z",
      "id": "c03DXqngVbvOwSoA",
      "name": "mcp"
    }
  ]
}